[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
h5py = '*'
dask = '*'
tqdm = "*"
chest = '*'
scipy = "==1.3.2"
numpy = "*"
click = "*"
psutil = '*'
awscli = "*"
joblib = "*"
cytoolz = "*"
seaborn = '*'
matplotlib = '*'
statsmodels = "*"
ruamel_yaml = '*'
distributed = '*'
scikit-learn = '==0.20.3'
scikit-image = "==0.16.2"
dask_jobqueue = '*'
opencv-python = '*'
